---
name: Build
permissions:
  contents: read

on:
  push:
  pull_request:
    branches:
      - main

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-macos:
    runs-on: macos-15
    env:
      QT_VERSION: "6.8.2"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 1

      - name: Install Dependencies
        run: |
          brew install create-dmg

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          cache: true
          version: ${{ env.QT_VERSION }}

      - name: Build
        run: |
          qmake6 moonlight-qt.pro CONFIG+=release
          make -j$(sysctl -n hw.ncpu)

      - name: Create DMG
        run: |
          scripts/generate-dmg.sh Release

      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: Nightlume-macOS-${{ github.sha }}
          path: build/installer-Release/*.dmg
          compression-level: 0
          if-no-files-found: error

      - name: Upload Debug Symbols
        uses: actions/upload-artifact@v4
        with:
          name: Nightlume-macOS-dSYM-${{ github.sha }}
          path: build/installer-Release/*.dSYM
          if-no-files-found: warn
